/* Custom Fonts */
@font-face {
  font-family: 'Watermelon'; /* Custom font for the title */
  src: url('../fonts/Watermelon-Regular.otf');
}

@font-face {
  font-family: 'DMSans-light'; /* Custom font for the title */
  src: url('../fonts/DMSans.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'DMSans-normal'; /* Custom font for the title */
  src: url('../fonts/DMSans.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'DMSans-heavy'; /* Custom font for the title */
  src: url('../fonts/DMSans.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Satoshi'; /* Custom font for the title */
  src: url('../fonts/Satoshi-Variable.ttf');
}

@font-face {
  font-family: 'DMSans'; /* Custom font for the title */
  src: url('../fonts/DMSans.ttf');
}


@font-face {
  font-family: 'Satoshi-light'; /* Custom font for the title */
  src: url('../fonts/Satoshi-Variable.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Satoshi-normal'; /* Custom font for the title */
  src: url('../fonts/Satoshi-Variable.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Satoshi-heavy'; /* Custom font for the title */
  src: url('../fonts/Satoshi-Variable.ttf');
  font-weight: 800;
}



/* Define color variables */
:root {
  --background-color: #e8e8e8; /* Mercury */
  --background-color-2: #24252a; /* Shark */
  --text-color: #2c3e50; /* Madison */
  --text-color-light: #e8e8e8;
  --border-color: /* #e8e8e8;  */ #0b7fab;  /* Shark */
  --navbar-color:  #24252a;  /* Shark */
  /* Map Marker Colors */
  --cluster-water: #6995BB;
  --cluster-restroom: #419074;
  --cluster-bench: #7D5F5D;
  --cluster-shelter: #C45C24;
  --cluster-bin: #3A3A3A;
}



html, body {
  margin: 0;
  padding: 0;
  /*font-family: Avenir, sans-serif;*/
  background-color: #FFFFFF;
  overflow-x: hidden;  /* Prevent horizontal scroll */
  scroll-behavior: smooth; /* Smooth scroll */
}

/* Enable snap scrolling on the body */
body {
  height: 100vh; /* Ensure the body fills the entire screen */
  display: flex;
  flex-direction: column;
  overflow-y: scroll; /* Allow vertical scrolling */
}

/**********************************************************************/
.page-full {
  position: relative;
/*  min-height: 100vh; /* Full height of the viewport */
 / overflow: hidden;*/
  scroll-snap-align: start; /* Snaps to this section */
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-type: both mandatory;
  object-fit: cover; 
}

.page-extended {
  position: relative;
  scroll-snap-align: start; /* Snaps to this section */
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-type: both mandatory;
  object-fit: cover; 
}

/**********************************************************************/

.landing-section {
/*  border: 1px solid var(--border-color); */
  display: flex;
  background-color: var(--background-color);
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically in the parent */
  align-items: center; /* Center horizontally */
  height: 100%; /* Take full height of the parent */
  width: 100%;
}

.landing-title {
/*  border: 1px solid var(--border-color); */
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  display: flex;
  width: 70%;
  margin-top: 150px;
  margin-bottom: 50px;

}

.landing-title h1{
  text-align: center;
  font-family: 'Satoshi-normal';
  color: var(--text-color);
  font-size: 60px;
}


.landing-section img {
  height: 100px;
  width: auto;
  margin-bottom: 150px;

}
/****************************************************************************************************************************************************************************/

/* Introduction Page Container*/
.introduction-section {
/*   border: 1px solid #AAAA00;*/
  display: flex;
  background-color: var(--background-color-2);
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically in the parent */
  align-items: center; /* Center horizontally */
  height: 100%; /* Take full height of the parent */
  width: 100%; 
}

/* Introduction Section*/
.container-intro {
  justify-content: left; /* Center elements vertically */
  align-items: left; /* Center elements horizontally */
  flex-direction: column; /* Stack children vertically */
  display: flex;
  width: 90%;
  /*height: 80%; */
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Introduction Main Text*/
.container-intro-1 {
  justify-content: center; /* Center elements vertically */
  align-items: left; /* Center elements horizontally */
  display: flex;
  flex-direction: column;

  width: 75%;
  min-height: 55%;
  padding-left: 20px;

}

.container-intro-1 h1{
  text-align: left;
  font-family: 'Satoshi';
  color: var(--text-color-light);
  font-weight: 700;
  font-size: 37px;
}


/* Introduction Sub Text*/
.container-intro-2 {
/*   border: 1px solid var(--border-color);*/
  justify-content: left; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  display: flex;
  width: 40%;
  min-height: 8%;
  padding-left: 20px;
}

.container-intro-2 h1{
  text-align: left;
  font-family: 'DMSans';
  color: var(--text-color-light);
  font-weight: 400;
  font-size: 16px;
}

/* Introduction Numbers*/
.container-intro-3 {
  justify-content: left; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  display: flex;
  flex-direction: row; /* Stack children vertically */
  width: 30%;
  height: 15%;
}

.container-intro-3-1 {
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  width: 50%;
  height: 100%;
}

.container-intro-3-1-1 {
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  display: flex;
  width: 60%;
  height: 80%;
}

.container-intro-3-1-1 h1 {
  text-align: center;
  font-family: 'DMSans';
  color: #0b7fab;
  font-weight: 300;
  font-size: 50px;
}

.container-intro-3-1-2 {
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  display: flex;
  width: 60%;
  height: 20%;
}

.container-intro-3-1-2 h1 {
  text-align: center;
  color: var(--text-color-light);
  font-family: 'DMSans';
  font-weight: 400;
  font-size: 14px;
}


/**********************************************************************/

/* Page Amenities */
.container-3 {
/*  border: 1px solid #FF00FF; */
  display: flex;
  background-color: var(--background-color);
  flex-direction: column; /* Stack children vertically */
  justify-content: start; /* Center vertically in the parent */
  align-items: center; /* Center horizontally */
  height: 100%; /* Take full height of the parent */
  width: 100%;
  padding: 10px;
}

/* Amenities Section*/
.container-amenities {
  justify-content: start;
  /*align-items: center; /* Center elements horizontally */
  align-content: space-around;
  flex-direction: column; /* Stack children vertically */
  display: flex;
  width: 90%;
  height: 100%;
/*  padding: 10px; */
}

.container-amenities-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.container-amenities-title {
  justify-content: center; /* Center elements vertically */
/*   border: 1px solid var(--border-color); */
  width: 100%;
  /*height: 80px; */
}

.container-amenities-title h1 {
  text-align: center;
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 30px;
  color: var(--text-color);

}


.container-amenities-subtitle {
  display: flex;
  justify-content: center; /* Center elements vertically */
/*  border: 1px solid var(--border-color); */
  width: 100%;
  /*height: 20px; */
}

.container-amenities-subtitle h1 {
  text-align: center;
  font-family: 'DMSans-light';
  color: var(--text-color);
  font-size: 10px;
  text-decoration: underline;
}

.container-amenity {
  display: flex;
  justify-content: center; /* Center elements vertically */
  align-content: center;
/*   border: 1px solid #000000; */
  /*width: 100%;*/
  height: 25%;
  padding: 20px;
}

.container-amenity-left{
  display: flex;
  flex-direction: column; /* Stack children vertically */
/*  border: 1px solid #0000FF; */
  width: 40%;
  height: 100%;
}


.container-amenity-title {
  justify-content: start; 
  height: 30%; 
}

.container-amenity-title h1 {
  text-align: left;
  color: var(--text-color);
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 30px;
}


.container-amenity-text {
  justify-content: start;
  height: 50%;
}

.container-amenity-text h1 {
  text-align: left;
  font-family: 'DMSans';
  font-weight: 400;
  font-size: 16px;
  padding-right: 20px;
}

.container-amenity-tags{
  justify-content: start; 
  height: 15%;
}

.container-amenity-tags h1 {
  text-align: left;
  font-family: 'DMSans-light';
  color: var(--text-color);
  font-size: 10px;
}

.container-amenity-right{
  /*display: block; */
    display: block;
margin-left: auto;
margin-right: auto;

  /*flex-direction: column; /* Stack children vertically */
  width: 60%;
  height: 100%;
}

.container-amenity-right img {
  max-width: 100%; 
  height: auto;
}


.container-4 {
/*  border: 1px solid #FF00FF; */
  display: flex;
  background-color: var(--background-color-2);
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically in the parent */
  align-items: center; /* Center horizontally */
  height: 100%; /* Take full height of the parent */
  width: 100%;
}

.container-services {
  justify-content: left; /* Center elements vertically */
  align-items: left; /* Center elements horizontally */
  flex-direction: row; /* Stack children vertically */
  display: flex;
  width: 90%;
  /*height: 60%;*/
  margin-bottom: 150px;
  margin-top: 150px;
}

.container-services-left {
  justify-content: start; /* Center elements vertically */
  align-items: left; /* Center elements horizontally */
  display: flex;
  width: 35%;
  height: 100%;
  padding-left: 10px;
}

.container-services-left h1{
  text-align: left;
  font-family: 'Satoshi-heavy';
  color: var(--text-color-light);
  font-size: 30px;
}

.container-services-right {
  align-content: center;
  justify-content: center; /* Center elements vertically */
 /* align-items: left; /* Center elements horizontally */
  display: flex;
  flex-direction: row; /* Stack children vertically */
  width: 65%;
  height: 100%;
  padding-right: 10px;
}

.container-services-right-sub {
  display: flex;
  flex-direction: column; 
  width: 50%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.container-services-right-sub:hover {
  transform: scale(1.05); /* Slightly enlarge the button */
  color: #000; /* Optional: Change text color */
}

.container-services-right-sub-1 {
  width: 100%;
  height: 40%;
}

.container-services-right-sub-1 img {
  max-width: 100%;
  height: auto;
}

.container-services-right-sub-2 {
  display: flex;
  align-items: center; /* Center Y */
  justify-items: start; /* LA  X */
  width: 100%;
  height: 10%;
}

.container-services-right-sub-2 h1 {
  text-align: left;
  font-family: 'DMSans-light';
  color: var(--text-color-light);
  font-size: 12px;
}

.container-services-right-sub-3 {
  align-items: start; /* Y Top */
  justify-items: start; /* X Left Align  */
  width: 100%;
  height: 40%;
}

.container-services-right-sub-3 h1 {
  text-align: left;
  font-family: 'Satoshi-normal';
  color: var(--text-color-light);
  font-size: 24px;
}

.container-services-right-sub-4 {
  display: flex;
  align-items: center; /* Center Y */
  justify-items: start; /* LA  X */
  width:100%;
  height: 10%;
  flex-direction: row;
}
.container-services-right-sub-4-1 {
  display: flex;
  align-items: center; /* Center Y */
  justify-items: start; /* LA  X */
  width:80%;
  height: 100%;
}

.container-services-right-sub-4-1 h1 {
  text-align: left;
  font-family: 'DMSans-light';
  color: var(--text-color-light);
  font-size: 16px;
}

.container-services-right-sub-4-2 {
  display: flex;
  align-items: center; /* Center Y */
  justify-items: start; /* LA  X */
  width:20%;
  height: 100%;
}

.container-services-right-sub-4-2 img {
  width: 100%;
  height: 100%;
}


/*****************************************************************************************************/

/* Map |                                                      */
/* Map | Map                                                  */
.c_page {
  display: flex;
  min_height: 100vh;
  min_width: 100vh;
}

.c_sidebar {
  width: 20%;
  background: var(--background-color);
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

/* Sidebar Title (Filter)       */
.c_sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}



/* Container for each amenity */
.c_amenity {
  margin-bottom: 20px;          /* Space between amenities */
  display: flex;
  flex-direction: column;       /* Stack elements vertically */
  align-items: flex-start;      /* Align all elements to the left */
}

/* Flex container for the checkbox and title on the same line */
.c_amenity_header {
  display: flex;                /* Put the checkbox and title on the same line */
  align-items: center;          /* Vertically align the checkbox and title */
  margin-bottom: 10px;          /* Space between header and tags */
}

/* Styling for the checkbox */
.c_amenity_header input[type="checkbox"] {
  margin-right: 10px;           /* Space between checkbox and title */
}

/* Styling for the amenity title */
.c_amenity_text {
  font-weight: normal;
}

/* Container for the tags, allowing them to wrap if necessary */
.c_amenity_tags {
  display: flex;
  flex-wrap: wrap;              /* Allow tags to wrap to a new line if necessary */
  gap: 10px;                    /* Space between tags */
}

/* Styling for the tags (filter options) */
.c_amenity .tag {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #D9D9D9;
  color: #BFBFBF;               /* Inactive color for tags */
}

/* Active tag styling */
.c_amenity .tag.active {
  background: #67809F;
  color: white;
}

.c_radius {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  display: flex;
  justify-content: space-between;  /* Space out the label and the dropdown icon */
  align-items: center;  /* Vertically align the items */
  margin-bottom: 20px;
}


/* Radius slider */
#radius-slider {
  width: 100%;
  margin: 10px 0;
}

#radius-value {
  font-size: 14px;
  text-align: left;
}

/* Map styling */
#map {
  flex-grow: 1;
  height: 100vh;
}


/* Base cluster styling */
.custom-cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Icon element (background for amenity-specific icon) */
.custom-cluster .icon {
  width: 40px; /* Size of the icon container */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

/* SVG image inside the icon container */
.custom-cluster .icon img {
  width: 25px; /* Resize SVG icon individually */
  height: 25px;
  object-fit: contain; /* Ensures SVG scales properly */
}

/* Count overlay element */
.custom-cluster .count {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Amenity-specific styling */
.custom-cluster.cluster-water .icon {
  /* background-color: var(--cluster-water);*/
  border: solid 2px var(--cluster-water);
  background-color: #E8E8E8;
}

.custom-cluster.cluster-restroom .icon {
  border: solid 2px var(--cluster-restroom);
  background-color: #E8E8E8;
}

.custom-cluster.cluster-bench .icon {
  border: solid 2px var(--cluster-bench);
  background-color: #E8E8E8;
}

.custom-cluster.cluster-shelter .icon {
  border: solid 2px var(--cluster-shelter);
  background-color: #E8E8E8;
}

.custom-cluster.cluster-bins .icon {
  border: solid 2px var(--cluster-bin);
  background-color: #E8E8E8;
}



/* Popup Styling (Optional Enhancements) */
.leaflet-popup-content-wrapper {
  font-family: Avenir, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.leaflet-popup-content h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
