<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>H2WO</title>
      <link rel="stylesheet" href="static/css/global.css">
      <link rel="stylesheet" href="static/css/home.css">
   </head>
   <body>
      <!-- Landing -->
      <div class="landing-section">
         <div class="landing-header">
            <div class="landing-header-logo">
               <img src="static/img/logo.png">
            </div>
            <div class="landing-header-navigation">
               <div class="landing-header-navigation-button" onclick="location.href='/statistics';" style="cursor: pointer;">
                  <img src="static/img/nav-statistic.svg">
               </div>
               <div class="landing-header-navigation-button" onclick="location.href='/map';" style="cursor: pointer;">
                  <img src="static/img/nav-map.svg">
               </div>
            </div>
         </div>
         <div class="landing-content">
            <div class="landing-text">
               <h1 class="text-color-dark text-align-center">
                  FILL YOUR BOTTLE, WASH <br>
                  YOUR HANDS, DISPOSE <br>
                  CORRECTLY - ALL FOR <br> FREE
               </h1>
            </div>
            <div class="landing-image">
               <img src="static/img/landing-arrow.svg">
            </div>
         </div>
      </div>
      <!-- Introduction -->
      <div class="introduction-section">
         <div class="introduction-content">
            <!--Main Text -->
               <div class="introduction-text-main">
                  <h2 class="text-color-light text-align-left">
                     Discover your city with H2WO, your go-to guide for <br>
                     free and accessible amenities like fountains,  <br>
                     benches, public toilets, and more. Plan your next  <br>
                     adventure or spontaneous break with ease, while <br>
                     contributing to a cleaner, more connected <br>
                     urban experience.
                  </h2>
               </div>
               <!--Sub Text -->
               <div class="introduction-text-sub">
                  <p class="text-color-light text-align-left">
                     Find what you need, when you need it.
                  </p>
               </div>
               <!--Stats -->
               <div class="introduction-stats">
                  <div class="introduction-stats-stat">
                     <div class="introduction-stats-stat-number">
                        <p class="p-numbers text-color-accent text-align-center">
                           {{ data['watersources'] }}
                        </p>
                     </div>
                     <div class="introduction-stats-stat-text">
                        <p class="p-small text-color-light text-align-center">
                           Watersources
                        </p>
                     </div>
                  </div>
                  <div class="introduction-stats-stat">
                     <div class="introduction-stats-stat-number">
                        <p class="p-numbers text-color-accent text-align-center">
                           {{ data['toilets'] }}
                        </p>
                     </div>
                     <div class="introduction-stats-stat-text">
                        <p class="p-small text-color-light text-align-center">
                           Toilets
                        </p>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Amenities -->
      <div class="amenities-section">
         <div class="amenities-content">
            <div class="amenities-header">
               <h3 class="text-color-dark text-align-center">
                  our amenities
               </h3>
            </div>
            <hr width="100%" size="1" color=#D1D1D1 noshade>
            <!-- Amenity 1 -->
            <div class="amenities-amenity">
               <div class="amenities-amenity-left">
                  <div class="amenities-amenity-left-title">
                     <h3 class="text-color-dark text-align-left">
                        thirsty?
                     </h3>
                  </div>
                  <div class="amenities-amenity-left-text">
                     <p class="text-color-dark">
                        Looking for a quick way to hydrate? Public fountains in Switzerland are not just decorative but also provide accessible drinking water. Our service helps you locate these fountains and highlights whether the water is safe to drink. Whether you're refilling a water bottle or just washing your hands, we've got you covered.
                     </p>
                  </div>
                  <div class="amenities-amenity-left-tags">
                     <p class="text-color-dark text-align-left">
                        amenity - fountain <br>
                        category - water
                     </p>
                  </div>
               </div>
               <div class="amenities-amenity-right">
                  <img src="static/img/amenity-fountain.png">
               </div>
            </div>
            <hr width="100%" size="1" color=#D1D1D1 noshade>
            <!-- Amenity 2 -->
            <div class="amenities-amenity">
               <div class="amenities-amenity-left">
                  <div class="amenities-amenity-left-title">
                     <h3 class="text-color-dark text-align-left">
                        need to go?
                     </h3>
                  </div>
                  <div class="amenities-amenity-left-text">
                     <p class="text-color-dark">
                        Public restrooms can make all the difference in your city experience. Our service provides the location, accessibility features like wheelchair access, availability of changing tables, and whether they are free to use. Make informed choices about where to stop when nature calls.
                     </p>
                  </div>
                  <div class="amenities-amenity-left-tags">
                     <p class="text-color-dark text-align-left">
                        amenity - restroom <br>
                        category - hygiene
                     </p>
                  </div>
               </div>
               <div class="amenities-amenity-right">
                  <img src="static/img/amenity-restroom.png">
               </div>
            </div>
            <hr width="100%" size="1" color=#D1D1D1 noshade>
            <!-- Amenity 3 -->
            <div class="amenities-amenity">
               <div class="amenities-amenity-left">
                  <div class="amenities-amenity-left-title">
                     <h3 class="text-color-dark text-align-left">
                        time for a break?
                     </h3>
                  </div>
                  <div class="amenities-amenity-left-text">
                     <p class="text-color-dark">
                        Take a moment to rest and recharge! Benches offer convenient seating spots, and our service identifies their locations, seating capacity, and whether they are covered. Find the perfect spot to relax and enjoy the surroundings.
                     </p>
                  </div>
                  <div class="amenities-amenity-left-tags">
                     <p class="text-color-dark text-align-left">
                        amenity - bench <br>
                        category - comfort
                     </p>
                  </div>
               </div>
               <div class="amenities-amenity-right">
                  <img src="static/img/amenity-bench.png">
               </div>
            </div>
            <hr width="100%" size="1" color=#D1D1D1 noshade>
            <!-- Amenity 4 -->
            <div class="amenities-amenity">
               <div class="amenities-amenity-left">
                  <div class="amenities-amenity-left-title">
                     <h3 class="text-color-dark text-align-left">
                        something to throw away?
                     </h3>
                  </div>
                  <div class="amenities-amenity-left-text">
                     <p class="text-color-dark">
                        Keep the city clean with ease! Waste bins are essential for proper disposal of trash. Our service pinpoints their locations and specifies if they handle recyclables or general waste. Find the right bin for your needs and help maintain cleaner public spaces.
                     </p>
                  </div>
                  <div class="amenities-amenity-left-tags">
                     <p class="text-color-dark text-align-left">
                        amenity - bin <br>
                        category - comodity
                     </p>
                  </div>
               </div>
               <div class="amenities-amenity-right">
                  <img src="static/img/amenity-bin.png">
               </div>
            </div>
            <hr width="100%" size="1" color=#D1D1D1 noshade>
            <!-- Amenity 5 -->
            <div class="amenities-amenity">
               <div class="amenities-amenity-left">
                  <div class="amenities-amenity-left-title">
                     <h3 class="text-color-dark text-align-left">
                        need to stay dry?
                     </h3>
                  </div>
                  <div class="amenities-amenity-left-text">
                     <p class="text-color-dark">
                        Find protection from unexpected weather with shelters. These structures provide more than just coverage—they may also include benches, bins, and drinking water. Our service helps you locate shelters and find the ideal spot to stay dry during your outdoor activities.
                     </p>
                  </div>
                  <div class="amenities-amenity-left-tags">
                     <p class="text-color-dark text-align-left">
                        amenity - shelter <br>
                        category - comodity
                     </p>
                  </div>
               </div>
               <div class="amenities-amenity-right">
                  <img src="static/img/amenity-shelter.png">
               </div>
            </div>
            <hr width="100%" size="1" color=#D1D1D1 noshade>
         </div>
      </div>
      <!-- Services -->
      <div class="services-section">
         <div class="services-content">
            <div class="services-content-left">
               <div class="services-content-left-text">
                  <h2 class="text-align-left text-color-light">
                     Try H2WO's recommended services yourself!
                  </h2>
               </div>
            </div>
            <div class="services-content-right">
               <div class="services-content-right-service" onclick="location.href='map';" style="cursor: pointer;">
                  <div class="services-content-right-service-image">
                     <img src="static/img/service-map.svg">
                  </div>
                  <div class="services-content-right-service-text">
                     <h4 class="text-color-light text-align-left">
                        Explore your area and filter results to match your needs.
                     </h4>
                  </div>
                  <div class="services-content-right-service-footer">
                     <div class = "services-content-right-service-footer-text">
                        <p class="p-small text-color-light text-align-left">
                           /map
                        </p>
                     </div>
                     <div class = "services-content-right-service-footer-icon">
                        <img src="static/img/service-linkarrow.svg">
                     </div>
                  </div>
               </div>
               <div class="services-content-right-service" onclick="location.href='/statistics';" style="cursor: pointer;">
                  <div class="services-content-right-service-image">
                     <img src="static/img/service-statistic.svg">
                  </div>
                  <div class="services-content-right-service-text">
                     <h4 class="text-color-light text-align-left">
                        Learn interesting facts about toilets and the OSM data.
                     </h4>
                  </div>
                  <div class="services-content-right-service-footer">
                     <div class = "services-content-right-service-footer-text">
                        <p class="p-small text-color-light text-align-left">
                           /statistic
                        </p>
                     </div>
                     <div class = "services-content-right-service-footer-icon">
                        <img src="static/img/service-linkarrow.svg">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
