<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H2WO</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="main-page">
        <img src="../static/img/main.png" alt="Main Image" class="main-image">
    </div>

    <div class="container services">
        <div class="title">our services</div>
        <div class="row">
            <div class="cell"><img src="../static/img/locate.svg" alt="Icon 1" class="filter-icons"></div>
            <div class="cell"><img src="../static/img/asses.svg" alt="Icon 2" class="filter-icons"></div>
        </div>
        <div class="row">
            <div class="cell">
                <div class="text-content">
                    <h2>locate</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="cell">
                <div class="text-content">
                    <h2>assess</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell"><img src="../static/img/navigate.svg" alt="Icon 3" class="filter-icons"></div>
            <div class="cell"><img src="../static/img/improve.svg" alt="Icon 4" class="filter-icons"></div>
        </div>
        <div class="row">
            <div class="cell">
                <div class="text-content">
                    <h2>navigate</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="cell">
                <div class="text-content">
                    <h2>improve</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container amenities">
        <div class="title">our amenities</div>
        <div class="row">
            <div class="cell"><img src="../static/img/fountain.svg" alt="Icon 1" class="filter-icons"></div>
            <div class="cell"><img src="../static/img/toilet.svg" alt="Icon 2" class="filter-icons"></div>
        </div>
        <div class="row">
            <div class="cell">
                <div class="text-content">
                    <h2>Fountains</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="cell">
                <div class="text-content">
                    <h2>Restrooms</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell"><img src="../static/img/bench.svg" alt="Icon 3" class="filter-icons"></div>
            <div class="cell"><img src="../static/img/bin.svg" alt="Icon 4" class="filter-icons"></div>
        </div>
        <div class="row">
            <div class="cell">
                <div class="text-content">
                    <h2>Benches</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="cell">
                <div class="text-content">
                    <h2>Bins</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <script>src="../static/js/key_scroll.js"</script>
</body>
</html>
