<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H2WO</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <!-- Landing -->
    <div class="page-full">
        <div class="landing-section">
            <div class="landing-title">
                <h1>FÜLL DINI FLÄSCHE, WÄSCH <br>
                    DINI HÄND, ENTSORG <br>
                    RICHTIG - ALLES <br> GRATIS </h1>
            </div>
            <img src="static/img/arrow_down.svg">
        </div>
    </div>

    <!-- Introduction -->   
    <div class="page-full">
        <div class="introduction-section">
            <div class="container-intro">

                <!--Main Text --> 
                <div class="container-intro-1">
                    <h1>
                    Entdeck dini Stadt mit H2WO, dim go-to Guide für <br>
                    kostelosi und zuegönglichi Amenities wie Brünne,  <br>
                    Bänkli, öffentlichi WC's, und meh! Plan dis negste  <br>
                    Abentüür oder e spontani Pause ohni Problem, <br>
                    während du zunere suberere und verbundene  <br>
                    Urbane experience biitreisch.</h1>
                </div>

                <!--Sub Text -->  
                <div class="container-intro-2">
                    <h1>Find was du bruchsch, wenn dus bruchsch. </h1>
                </div>

                <!--Stats Text --> 
                <div class="container-intro-3">
                    <div class="container-intro-3-1">
                        <div class="container-intro-3-1-1">
                            <h1>drütuusig</h1>
                        </div>
                        <div class="container-intro-3-1-2">
                            <h1>datepünktli</h1>
                        </div>
                    </div>
                    <div class="container-intro-3-1">
                        <div class="container-intro-3-1-1">
                            <h1>2</h1>
                        </div>
                        <div class="container-intro-3-1-2">
                            <h1>särvis</h1>
                        </div>
                    </div>                    
                </div>

            </div>
        </div>
    </div>    

    <!-- Amenities -->   
    <div class="page-extended">
        <div class="container-3">
            <div class="container-amenities">
                <!-- Page Header (Title / Subtitle) --> 
                <div class="container-amenities-header">
                    <div class="container-amenities-title">
                        <h1> euisi amenities </h1>
                    </div>
                    <div class="container-amenities-subtitle">
                        <h1> lern öppis </h1>
                    </div>
                </div>

                <hr width="100%" size="1" color=#D1D1D1 noshade>

                <!-- Amenity 1 --> 
                <div class="container-amenity">
                    <div class="container-amenity-left">
                        <div class="container-amenity-title">
                            <h1> hesch durst? </h1>
                        </div>
                        <div class="container-amenity-text">
                            <h1> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </h1>
                        </div>
                        <div class="container-amenity-tags">
                            <h1> amenity - fountain </h1>
                            <h1> category - water </h1>
                        </div>
                    </div>
                    <div class="container-amenity-right">
                        <img src="static/img/fountain.png">
                    </div>
                </div>

                <hr width="100%" size="1" color=#D1D1D1 noshade>

                <!-- Amenity 2 --> 
                <div class="container-amenity">
                    <div class="container-amenity-left">
                        <div class="container-amenity-title">
                            <h1> muesch? </h1>
                        </div>
                        <div class="container-amenity-text">
                            <h1> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed   diam voluptua. </h1>
                        </div>
                        <div class="container-amenity-tags">
                            <h1> amenity - restroom </h1>
                            <h1> category - hygiene </h1>
                        </div>
                    </div>
                    <div class="container-amenity-right">
                        <img src="static/img/restroom.png">
                    </div>
                </div>

                <hr width="100%" size="1" color=#D1D1D1 noshade>

                <!-- Amenity 3 --> 
                <div class="container-amenity">
                    <div class="container-amenity-left">
                        <div class="container-amenity-title">
                            <h1> weggli und schoggistängeli time? </h1>
                        </div>
                        <div class="container-amenity-text">
                            <h1> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed   diam voluptua. </h1>
                        </div>
                        <div class="container-amenity-tags">
                            <h1> amenity - bench </h1>
                            <h1> category - comfort </h1>
                        </div>
                    </div>
                    <div class="container-amenity-right">
                        <img src="static/img/bench.png">
                    </div>
                </div>

                <hr width="100%" size="1" color=#D1D1D1 noshade>

                <!-- Amenity 4 --> 
                <div class="container-amenity">
                    <div class="container-amenity-left">
                        <div class="container-amenity-title">
                            <h1> im bünzliradar? </h1>
                        </div>
                        <div class="container-amenity-text">
                            <h1> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed   diam voluptua. </h1>
                        </div>
                        <div class="container-amenity-tags">
                            <h1> amenity - bin </h1>
                            <h1> category - environment </h1>
                        </div>
                    </div>
                    <div class="container-amenity-right">
                        <img src="static/img/fountain.png">
                    </div>
                </div>

                <hr width="100%" size="1" color=#D1D1D1 noshade>

            </div>
        </div>
    </div>

    <!-- Services --> 
    <div class="page-full">
        <div class="container-4">
            <div class="container-services">
                <div class="container-services-left">
                    <h1> probier de cooli seich selber! </h1>
                </div>
                <div class="container-services-right">
                    <div onclick="location.href='map.html';" style="cursor: pointer;" class="container-services-right-sub">

                        <div class="container-services-right-sub-1">
                            <img src="static/img/map.jpg">
                        </div>
                        <div class="container-services-right-sub-2">
                            <h1> service - map </h1>
                        </div>
                        <div class="container-services-right-sub-3">
                            <h1> Explore your area and filter results to match your needs. </h1>
                        </div>
                        <div class="container-services-right-sub-4">
                            <div class = "container-services-right-sub-4-1">
                                <h1> /map </h1>
                            </div>
                            <div class = "container-services-right-sub-4-2">
                                <img src="static/img/link_arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div onclick="location.href='main.html';" style="cursor: pointer;" class="container-services-right-sub">
                        <div class="container-services-right-sub-1">
                            <img src="static/img/statistics.jpg">
                        </div>
                        <div class="container-services-right-sub-2">
                            <h1> service - statistics </h1>
                        </div>
                        <div class="container-services-right-sub-3">
                            <h1> Learn more about selected amenities. </h1>
                        </div>
                        <div class="container-services-right-sub-4">
                            <div class = "container-services-right-sub-4-1">
                                <h1> /statistics </h1>
                            </div>
                            <div class = "container-services-right-sub-4-2">
                                <img src="static/img/link_arrow.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
