<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="static/css/thank_you.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="center">
    <div class="page-container">
        <h1>Thank you for your review!</h1>
        <p>Your feedback makes it easier for other users to discover what they’re looking
            for! Your review has been
            submitted successfully.</p>
        <p>We appreciate your time and contribution to our community!</p>
        <p>What would you like to do next?</p>
        <div class="card-container">

            <div class="card" onclick="location.href='/map';" style="cursor: pointer;">
                <div class="card-image">
                    <img class="shrink-to-fit" src="static/img/map.jpg" alt="Map">
                </div>
                <div class="card-content">
                    <p>Explore more amenities on the map</p>
                </div>
            </div>

            <div class="card" onclick="location.href='/chart';" style="cursor: pointer;">
                <div class="card-image">
                    <img class="shrink-to-fit" src="static/img/statistics.jpg" alt="Statistics">
                </div>
                <div class="card-content">
                    <p>See statistics about amenities</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
